#ignore the App.config where I store sensitive connection strings and passwords!
LCDMadness/App.config

#ignore the executable
LCDMadness/bin/Debug/LCDMadness.exe

#ignore the executable
LCDMadness/obj/Debug/LCDMadness.exe

#ignore the symbols
LCDMadness/bin/Debug/LCDMadness.pdb

#ignore the symbols
LCDMadness/obj/Debug/LCDMadness.pdb

#ignore the cache file
LCDMadness/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

#ignore the csproj assembly cache
LCDMadness/obj/Debug/LCDMadness.csprojResolveAssemblyReference.cache

#ignore the filelistabsolute.txt
LCDMadness/obj/Debug/LCDMadness.csproj.FileListAbsolute.txt

#ignore the Input.cache
LCDMadness/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

#ignore the .suo
LCDMadness.v12.suo