#ignore the App.config where I store sensitive connection strings and passwords!
LCDMadness/App.config

#ignore the executable
LCDMadness/bin/Debug/LCDMadness.exe

#ignore the executable
LCDMadness/obj/Debug/LCDMadness.exe

#ignore the symbols
LCDMadness/bin/Debug/LCDMadness.pdb

#ignore the symbols
LCDMadness/obj/Debug/LCDMadness.pdb

#ignore the cache file
LCDMadness/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

#ignore the csproj assembly cache
LCDMadness/obj/Debug/LCDMadness.csprojResolveAssemblyReference.cache

#ignore the filelistabsolute.txt
LCDMadness/obj/Debug/LCDMadness.csproj.FileListAbsolute.txt

#ignore the Input.cache
LCDMadness/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

#ignore the .suo
LCDMadness.v12.suo

#ignoring more files that were added with webjobs sdk
LCDMadness/bin/Debug/Microsoft.Azure.WebJobs.dll
LCDMadness/bin/Debug/Microsoft.Azure.WebJobs.xml
LCDMadness/bin/Debug/Microsoft.Data.Edm.dll
LCDMadness/bin/Debug/Microsoft.Data.Edm.xml
LCDMadness/bin/Debug/Microsoft.Data.OData.dll
LCDMadness/bin/Debug/Microsoft.Data.OData.xml
LCDMadness/bin/Debug/Microsoft.Data.Services.Client.dll
LCDMadness/bin/Debug/Microsoft.Data.Services.Client.xml
LCDMadness/bin/Debug/Newtonsoft.Json.dll
LCDMadness/bin/Debug/Newtonsoft.Json.xml
LCDMadness/bin/Debug/System.Spatial.dll
LCDMadness/bin/Debug/System.Spatial.xml
LCDMadness/bin/Debug/de/
LCDMadness/bin/Debug/es/
LCDMadness/bin/Debug/fr/
LCDMadness/bin/Debug/it/
LCDMadness/bin/Debug/ja/
LCDMadness/bin/Debug/ko/
LCDMadness/bin/Debug/ru/
LCDMadness/bin/Debug/zh-Hans/
LCDMadness/bin/Debug/zh-Hant/
LCDMadness/obj/Debug/DesignTimeResolveAssemblyReferences.cache
UpgradeLog.htm
UpgradeLog2.htm
UpgradeLog3.htm